<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"> <i class="fas fa-sign-in-alt"></i></h1>
            <form action="/select" method="POST">
                <input type="hidden" value="bookmarks" name="option">
                <button type="submit" value="bookmarks" class="btn btn-primary btn-block">Bookmarks</button><br><br>
            </form>
            <form action="/select" method="POST">
                <input type="hidden" name="option" value="tags">
                <button type="submit" class="btn btn-success btn-block">Tags</button><br><br>
            </form>
            </p>
        </div>
    </div>
</div>